body {
    background: no-repeat center / 100% url("../img/puzzleBackground.jpeg");
}

.container-fluid{
    padding:1.5%;
}

.row {
    width:100%;
}
.col-sm-9, .col-sm-3, .col-sm-2{
    border:solid #2F4F4F;
}

.col-sm-3{
    background-color: #F0F8FF;
}

.col-sm-9 {
    background-color: #708090;
    color:#F5FFFA;
}
.col-sm-12 {
    padding:1%;
    height:2.8em;
    background-color: #2F4F4F;
    color:#FFFFFF;
    border-top:solid;
}
span {
    margin:0% 2% 0% 5%;
}

span a:link {
    color:#FFFFFF;
}
span.contactWebsite a:hover, span.contactEmail a:hover {
    color:#87CEFA;
}

#pImage{
    max-height:250px;
    max-width:187.5px;
    float:left;
}

#pName {
    clear:both;
}

p {
    font-family: fairplex-wide, serif;
    font-weight: 400;
    font-style: normal;
}